nav {
    /*background: #26a69a;*/
    text-align: center;
}

.nav-buttons {
    margin-top: 10px;
    margin-right: 20px;
    clear: both;
}

.title {
    /*color: #26A69A;*/
    display: inline-block;
    margin-left: 15%;
}

.logo {
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
}

@media only screen and (max-width : 600px)  {
    .title {
        display: block;
        font-size: 1.5rem;
    }
    .brand-logo {
        font-size: 2rem;
    }
    .sectioned-brand {
        visibility: hidden;
    }
    .logo {
        text-align: left;
        margin-top: 0;
    }
}

@media only screen and (min-width : 600px)  {
    .logo {
        margin-top: 5px;
    }
}