.nav-buttons {
    margin-top: 10px;
}

.title {
    color: #26A69A;
    display: inline-block;
    margin-left: 15%;
}

.add-machine {
    margin-top: 45px;
}

.bdg {
    margin-left: 15px;
}

.fa-compress {
    margin-left: 15px;
}

.fa {
    font-size: 1.5rem;
}

.collection-item {
    font-size: 1.2rem;
}

.header-description {
    font-size: 1.2rem;
    font-weight: 600;
}

.filter {
    width: 100%;
    margin-bottom: 10px;
}

.btn-flat {
    font-weight: 600;
}

.filter-button {
    margin: 5px;
}

button.red {
    margin-left: 5px;
}

.update-button {
    margin-right: 10%;
}

.sizes {
    display: inline-block;
    margin-top: 15px;
}

.itemss {
    color: #009688;
}

@media only screen and (max-width : 520px)  {
    .title {
        display: block;
        font-size: 1.5rem;
    }
    .brand-logo {
        font-size: 1.5rem;
    }
    .sectioned-brand {
        visibility: hidden;
    }
    .sizes {
        display: block;
    }
    .update-button,
    .delete-button {
        max-width: 100px;
        text-overflow: ellipsis;
    }
    .btn-text-machine {
        display: hidden;
    }
    .filter-button {
        min-width: 35%;
    }
}

@media only screen and (max-width : 320px)  {
    .update-button,
    .delete-button {
        margin: 0 auto;
        max-width: 100px;
        margin-top: 5px;
    }
    .btn-text-machine {
        display: hidden;
    }
    .auth-button {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .nav-buttons {
        margin: 0 auto;
    }
}