.nav-buttons {
    margin-top: 10px;
    margin-right: 20px;
    clear: both;
}

.title {
    color: #26A69A;
    display: inline-block;
    margin-left: 15%;
}

@media only screen and (max-width : 500px)  {
    .title {
        display: block;
        font-size: 1.5rem;
    }
    .brand-logo {
        font-size: 1.5rem;
    }
    .sectioned-brand {
        visibility: hidden;
    }
}