<div class="row nav-buttons">
  <div class="center title">
    <h3><strong>{{ title }}</strong></h3>
  </div>
  <div class="col sm4 right nav-buttons">
    <a (click)="showSearch(); refreshFilters(); refreshResults()" class="waves-effect waves-light btn"><i class="fa fa-home"></i></a>
    <span *ngIf="auth.user | async">
    <a (click)="showAdd()" class="waves-effect waves-light btn"><i class="fa fa-plus"></i></a>
    </span>
    <span *ngIf="!(auth.user | async)">
      <a (click)="auth.googleLogin()" class="waves-effect waves-light btn auth-button">Lo<i class="fa fa-google"></i>in</a>
    </span>
    <span *ngIf="auth.user | async">
      <a (click)="signOut();" class="waves-effect waves-light btn auth-button">Logout</a>
    </span>
  </div>
</div>

<div>
  <div *ngIf="auth.user | async as user">
    <span class="username teal-text right">Signed in as: {{ user.name }}</span>
  </div>
</div>

<div *ngIf="add" class="add-machine">
  <app-add-machine></app-add-machine>
</div>

<div *ngIf="search">
    <input #box type="text" placeholder="Search..." class="searchFilter" (keyup)="onKey(box.value)" ng-model="inputValue">

    <div class="container filter">
      <div class="container center">
          <a (click)="box.value=''; setFilterSize('A4');" class="waves-effect waves-teal {{ afClass }} filter-button">A4</a>
          <a (click)="box.value=''; setFilterSize('A3')" class="waves-effect waves-teal {{ atClass }} filter-button">A3</a>
          <a (click)="box.value=''; setFilterColour('Monochrome')" class="waves-effect waves-teal {{ bwClass }} filter-button">B/W</a>
          <a (click)="box.value=''; setFilterColour('Colour')" class="waves-effect waves-teal {{ clrClass }} filter-button">CLR</a>
      </div>
    </div>

    <div *ngIf="machines?.length > 0; else noMachines">
      <div *ngIf="results?.length > 0; else noResults">
        <ul *ngFor="let machine of results" class="collection">
          <li class="collection-item" id="{{ machine.id }}">
            <span (click)="viewStatus($event, machine)"><strong>{{ machine.make }} {{ machine.model }}</strong></span>
            <span *ngIf="machine.badge" class="mbg"><strong>({{ machine.badge }})</strong></span>
            <a href="#{{ machine.id }}" class="secondary-content">
              <i *ngIf="auth.user | async" (click)="editMachine($event, machine)" class="fa fa-pencil"></i>
              <i *ngIf="editState && machineToEdit.id == machine.id" (click)="clearState()" class="fa fa-compress"></i>
            </a>
            <div *ngIf="viewState && machineToView.id == machine.id">
              <div class="collection">
            
              </div>
              <div class="header-description">{{ machineToView.size }}, {{ machineToView.colour }} machine</div>
              <table class="striped">
                <thead>
                  <tr>
                      <th>Part Name</th>
                      <th>Part Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="machineToView.drumunit">
                    <td>Drum Unit</td>
                    <td>{{ machineToView.drumunit }}</td>
                  </tr>
                  <tr *ngIf="machineToView.developerunit">
                    <td>Developer Unit</td>
                    <td>{{ machineToView.developerunit }}</td>
                  </tr>
                  <tr *ngIf="machineToView.wtc">
                    <td>Waste Toner Container</td>
                    <td>{{ machineToView.wtc }}</td>
                  </tr>
                  <tr *ngIf="machineToView.fuserunit">
                    <td>Fuser Unit</td>
                    <td>{{ machineToView.fuserunit }}</td>
                  </tr>
                  <tr *ngIf="machineToView.itb">
                    <td>Image Transfer Belt</td>
                    <td>{{ machineToView.itb }}</td>
                  </tr>
                  <tr *ngIf="machineToView.itbcleaner">
                    <td>ITB Cleaner</td>
                    <td>{{ machineToView.itbcleaner }}</td>
                  </tr>
                  <tr *ngIf="machineToView.transferrollerptb">
                    <td>Transfer Roller / PTB</td>
                    <td>{{ machineToView.transferrollerptb }}</td>
                  </tr>
                  <tr *ngIf="machineToView.feedrollerstray">
                    <td>Feed Rollers (Tray)</td>
                    <td>{{ machineToView.feedrollerstray }}</td>
                  </tr>
                  <tr *ngIf="machineToView.separationrollertray">
                    <td>Separation Roller (Tray)</td>
                    <td>{{ machineToView.separationrollertray }}</td>
                  </tr>
                  <tr *ngIf="machineToView.feedrollersbypass">
                    <td>Feed Rollers (Bypass)</td>
                    <td>{{ machineToView.feedrollersbypass }}</td>
                  </tr>
                  <tr *ngIf="machineToView.adfpickup">
                    <td>ADF Pickup</td>
                    <td>{{ machineToView.adfpickup }}</td>
                  </tr>
                  <tr *ngIf="machineToView.adfreversefriction">
                    <td>ADF Reverse / Friction</td>
                    <td>{{ machineToView.adfreversefriction }}</td>
                  </tr>
                  <tr *ngIf="machineToView.lsu">
                    <td>Laser Scanning Unit</td>
                    <td>{{ machineToView.lsu }}</td>
                  </tr>
                  <tr *ngIf="machineToView.platen">
                    <td>Platen</td>
                    <td>{{ machineToView.platen }}</td>
                  </tr>
                  <tr *ngIf="machineToView.pbamain">
                    <td>PBA Main</td>
                    <td>{{ machineToView.pbamain }}</td>
                  </tr>
                  <tr *ngIf="machineToView.opepba">
                    <td>OPE PBA</td>
                    <td>{{ machineToView.opepba }}</td>
                  </tr>
                  <tr *ngIf="machineToView.smps">
                    <td>SMPS</td>
                    <td>{{ machineToView.smps }}</td>
                  </tr>
                  <tr *ngIf="machineToView.hvps">
                    <td>HVPS</td>
                    <td>{{ machineToView.hvps }}</td>
                  </tr>
                  <tr *ngIf="machineToView.ope">
                    <td>OPE</td>
                    <td>{{ machineToView.ope }}</td>
                  </tr>
                  <tr *ngIf="machineToView.hdd">
                    <td>HDD</td>
                    <td>{{ machineToView.hdd }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="editState && machineToEdit.id == machine.id">
              <form (ngSubmit)="updateMachine(machine)" class="update-form">
                <div class="row radio-buttons">
                  <div class="col s6">
                      <div class="sizes">
                        <input class="with-gap" [(ngModel)]="machine.size" name="size" value="A4" type="radio" id="a4" />
                        <label for="a4">A4</label>
                      </div>
                      <div class="sizes">
                          <input class="with-gap" [(ngModel)]="machine.size" name="size" value ="A3" type="radio" id="a3" />
                          <label for="a3">A3</label>
                      </div>
                      
                  </div>
                  <div class="col s6">
                    <div class="sizes">
                        <input class="with-gap" [(ngModel)]="machine.colour" name="colour" value="Colour" type="radio" id="colour" />
                        <label for="colour">Colour</label>
                    </div>
                    <div class="sizes">
                        <input class="with-gap" [(ngModel)]="machine.colour" name="colour" value="Monochrome" type="radio" id="mono" />
                        <label for="mono">Mono</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Make" [(ngModel)]="machine.make" name="make">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Model" [(ngModel)]="machine.model" name="model">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Drum Unit" [(ngModel)]="machine.drumunit" name="drumunit">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Developer Unit" [(ngModel)]="machine.developerunit" name="developerunit">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Waste Toner Container" [(ngModel)]="machine.wtc" name="wtc">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Fuser Unit" [(ngModel)]="machine.fuserunit" name="fuserunit">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Image Transfer Belt" [(ngModel)]="machine.itb" name="itb">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="ITB Cleaner" [(ngModel)]="machine.itbcleaner" name="itbcleaner">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Transfer Roller / PTB" [(ngModel)]="machine.transferrollerptb" name="transferrollerptb">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Feed Rollers (Tray)" [(ngModel)]="machine.feedrollerstray" name="feedrollerstray">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="Separation Roller (Tray)" [(ngModel)]="machine.separationrollertray" name="separationrollertray">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Feed Rollers (Bypass)" [(ngModel)]="machine.feedrollersbypass" name="feedrollersbypass">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="ADF Pickup" [(ngModel)]="machine.adfpickup" name="adfpickup">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="ADF Reverse/Friction" [(ngModel)]="machine.adfreversefriction" name="adfreversefriction">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="LSU" [(ngModel)]="machine.lsu" name="lsu">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="Platen" [(ngModel)]="machine.platen" name="platen">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="PBA Main" [(ngModel)]="machine.pbamain" name="pbamain">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="OPE PBA" [(ngModel)]="machine.opepba" name="opepba">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="SMPS" [(ngModel)]="machine.smps" name="smps">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="HVPS" [(ngModel)]="machine.hvps" name="hvps">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" placeholder="OPE" [(ngModel)]="machine.ope" name="ope">
                  </div>
                  <div class="input-field col s6">
                    <input type="text" placeholder="HDD" [(ngModel)]="machine.hdd" name="hdd">
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Observations" [(ngModel)]="machine.observations" name="observations">
                      </div>
                </div> 
                <button type="submit" class="btn orange update-button">Update <span class="btn-text-machine">Machine</span></button>
                <button (click)="deleteMachine($event, machine)" class="btn red delete-button">Delete <span class="btn-text-machine">Machine</span></button>
              </form>
            </div>
          </li>
        </ul>
        </div>
      </div>
      
      <ng-template #noMachines>
          <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
      </ng-template>

      <ng-template #noResults>
          <h5 class="teal-text">Nothing Found.</h5>
      </ng-template>
</div>